body {
    display: flex;
    justify-content: center;
    background-color: #f5f4f0;
}

#stage {
    width: 500px;
    height: 600px;
    position: relative;
    border: 1px solid black;
}

canvas {position: absolute;}